# Git
.git
.gitignore

# Docker
docker-compose*.yml
Dockerfile
Dockerfile.prod
.dockerignore

# Terraform
terraform/
.terraform/
*.tfstate
*.tfstate.*

# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment
.env
.env.production
deployer-key.pem

# Build output
dist
build
coverage

# IDE
.vscode
.idea

# Jenkins
Jenkinsfile
